html{
    height: 100%;
}
body {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #FFFFFF;
    display: block;
    font-family: Helvetica, Cambria, Cochin, Georgia, Times, serif;
    overflow-y: -moz-scrollbars-none;
    -ms-overflow-style: none;
    -ms-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    margin-right: 0;
    margin-left: 0;
    overflow-x: hidden;
    min-height: 100%;
    width: 100%;
}
button::-moz-focus-inner { border: 0; }

/*bodyContent height and width definition*/
#bodyContent{
    height: auto !important;
    min-height: auto;
    position: relative;
}

header{
    margin-top:0;
    position: fixed;
    display: block;
    z-index: 300;
}

/*Responsive body*/

@media screen and (orientation:portrait) {

    header {
        width:30%;
        height: 100%;

    }
}
@media screen and (orientation:landscape) {
   
    header{
        height: 50px;

    }
}

/*Navigation*/

nav {
    position: fixed;
    display: block;
    margin-bottom: 0;
    width: 90%; 
    float:right;
    font-size: 15px;
    font-weight: bold;  
    padding-top: 10px;
    display: block;
    z-index: 2;
}

    nav ul {
        padding-left: 0;
        margin: 0;
        list-style-type: none;
        list-style-image: none;
        width: 100%;
    }

        nav ul li {
            height: auto;
            padding-left: .5%;
            padding-right: .5%;
            padding-top: 0.7%;
            padding-bottom: 0.45%;
            float: right;
            text-align: right;
            background-color: none;
        }

            nav ul li a {
                padding-bottom: 5px;
                text-align: left;
                text-decoration: none; 
                opacity: 0.7;
                outline: 0;
            } 

            nav ul li a:hover{
                opacity: 1;
            }

.mobileNav {
  float: left;
  width:300px;
  height: 100%;  
  margin-left: -300px;  
    -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.slideIn{
    margin-left:0 !important;  
    -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.mobileNav .menu {
  background-color: #1A1A1B;
  margin-top: 0;
  padding-top:0;
  height: 100%;
  list-style-type: none;
  list-style-image: none;
  padding-top: 35%; 
}

.mobileNav .menu li a{
    color: #FFFFFF;
    text-decoration: none;
    font-family:Helvetica, Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    font-style: normal;
    font-size: xx-large;
    font-weight: lighter;
}

.mobileNav .menu li .tickets{
    color: #EE4F3A;
}

.mobileNav .menu li a img{
    width: 50px;
    height: 45px;
}

/*Responsive navigation*/

@media screen and(orientation:portrait){
    nav{
        display:inline-block;
    }

    .mobileNav{
        display: none;
    }
}

@media screen and(orientation:landscape){
    nav{
        display: none;
    }    

    .mobileNav{
        display:inline;
    }   
    .mobileNav .menu{
        left: -50px;
    }
    .mobileNav .menu ul li a{
        font-size: large;
    }
}

/*Navigation colors (to contrast background)*/

.default{
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
    color:#1A1A1B;
}
.default.tickets{
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
    color:#EE4F3A;
}

.blue{
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
    color:#1A1A1B;
}
.blue.tickets{
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
    color:#FFFFFF;
}

.grey{
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
    color: #FFFFFF;
}
.grey.tickets{
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
    color:#EE4F3A;
}

.deflist{
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
    border-bottom: 2px solid rgba(26, 26, 27, .7);
    border-top: 2px solid rgba(26, 26, 27, .7);  
}

.greyList{
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
    border-bottom: 2px solid rgba(255, 255, 255, .7);
    border-top: 2px solid rgba(255, 255, 255, .7);  
}

/*Home button image layout*/
.home{
    width:15px;
    height: 13px;
}

/*section layout*/

section{
    text-align: center; 
    position:inherit;    ;
    top:0; 
    bottom: 0;
    left: 0;
    min-height: 100%;
    width: 100%;  
}

section .clear{
    clear: both;
}

.logo{
    position: relative;
    height: auto;
    margin-right: 30%;

}

@media screen and (orientation:landscape){        

    section .content{
        padding-top: 10%;
        width: 29%;
    }
    section .right{
        margin-right: 20%;
        float:right;
        text-align: right;
    }
    section .left{
        margin-left: 20%;
        float: left;
        text-align: left;
    }
}

@media screen and (orientation:portrait){
    
    section .content{
        float: left;
        width: 80%;
    }
    section .right{
        margin-left: 10%;
        margin-right: 10%;
        float:left;
        text-align: center;
    }
    section .left{
        margin-left: 10%;
        margin-right: 10%;
        float: left;
        text-align: center;
    }
}

/*Header layout*/


h1{
    font-family: 'Raleway';
    font-weight: bold;  
    margin-bottom: -21px;
}

h1.white{
    color: #FFFFFF;
}

h1.grey{
    color:#1A1A1B;
}

h1.red{
    color: #E14A32;
}

h1.blue{
    color: #2F77B4;
}

@media screen and (orientation:landscape){        
    
    h1{
        font-size: 30px;
    }
}

@media screen and (orientation:portrait){
    
    h1{
        font-size: 30px;
    }
}

/*Home page layout*/

@media screen and (orientation:landscape){        
            
    #landingPage .logo {    
            width: 50%; 
            margin-left: 26%;   
            margin-bottom: -2%;
    }

    #landingPage .nameDate{
            padding-left: 1%;
            width: 25%;
            height: auto;
    }
}

@media screen and (orientation:portrait){
    
    #landingPage .logo {    
            width: 130%;  
            margin-bottom: -20%;
            margin-left: -12%;
            margin-top: -10%;
            z-index: 6;
    }

    #landingPage .nameDate{
            padding-left: 1%;
            width: 80%;
            height: auto;
            z-index: 3;
    }
}

/*lineup page layout*/

#lineUpPage{
    background: rgba(26, 26, 27, .9);
}

#lineUpPage .content{
    padding-top: 0;
}

#theMainTitle{
    color: #e14a32;
}

#theMainText{
    word-wrap: normal;
    font-size: smaller;
    padding:2%;
}

.mainArtist{
    width: 80%;
    height: auto;
    padding: 0;
}

@media screen and (orientation:landscape){
    .mainArtist.hidden{
        visibility: hidden;
    }

    #lineUpPage .logo{
            position: relative;
            width: 20%; 
            margin-left: 30%;   
    }
}

@media screen and (orientation:portrait){
    .mainArtist.hidden{
        display: none;
    }

    #lineUpPage .logo{
            position: relative;
            width: 60%; 
            margin-left: 20%;   
    }
}

#theFarmText{
    word-wrap: normal;
    font-size: smaller;
    padding:2%;
}

#heenEnWeerTekst{
    background-color: rgb(255, 255, 255);
    word-wrap: normal;
    font-size: smaller;
    padding:2%;
}

#festivalTerreinTekst{
    background-color: rgb(26, 26, 27);
    word-wrap: normal;
    font-size: smaller;
    padding:2%;
    color: white;
}

#EHBOTekst{
    background-color: #e14a32;
    word-wrap: normal;
    font-size: smaller;
    padding:2%;
    color: white;
}

#lockersTekst{    
    background-color: rgb(47, 119, 180);
    word-wrap: normal;
    font-size: smaller;
    padding:2%;
    color: white;
}

.backGround{
    margin: 0;
    padding: 0;
    left: 0;
    position: relative;
    width: 100%;
    height: auto;
    z-index: -1;
}

#infoTiles{
    width: 30%;
}

#hamburger {
  position: fixed;
  top: 15px;
  left: 10px;
  border:none;
  width: 10%;  
  outline: none;
  padding:0;
  background:none;
}

#hamburger img{
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.expand {
    display: block !important; 
}

#lockersTekst table{
    width: 100%;
}

#lockersTekst input[type='text']{
    width: 100%;
}

#lockersTekst textarea {
    width: 100%;
    height: 150px;
    top:0;
    resize:none;
}

#contactFoto:after{
    display: block;
    clear: both;
}

/*footer layout*/

footer{
    position: absolute;
    width: 100%;
    height: 300px;
    bottom: 0;
    z-index: 2;
    overflow: hidden;
    text-align: left;
}

footer div{
    opacity: 0.8;
    background-color: #FFF;
    height: 100%;
    margin-top: 14px;
    margin-bottom: 0

}

footer .sponsors{
    float: left;
    height: 30%;
    width: auto;
    vertical-align: center;
}

    .socialMedia{
        margin-right: 3%;
        height: 30px;
        width: auto;

    }

/*This is all the css specifically for screens bigger than 720p*/

@media screen and (orientation:landscape) {

    .backGround{
        margin: 0;
        padding: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: auto;
        z-index: -1;
        overflow: hidden;
    }

    .backGround img{
        width: 100%;    
    }

    .wholePageContent{
        padding-top: 10%;
        float: left;
        width: 60%;
        margin-left: 20%;
        text-align:left;
    }

    #heenEnWeerTekst{
        font-size: smaller;
    }

    #festivalTerreinTekst{
        font-size: smaller;
    }

    #EHBOTekst{
        font-size: smaller;
    }

    #lockersTekst{    
        font-size: smaller;
    }

    .contactForm{
        display: block;
    }

    #hamburger{
        display: none;
    }

#stratenPlanHeader{
    color: #FFFFFF;
    text-align: right;
}


}

/*This is all the css for screens smaller than 720p (in other words, mobile devices)*/

@media screen and (orientation:portrait) {

    nav{
        display:none;
    }

    #hamburger{
        display: block;
    }
    #indexFoto{
        width:90%;
        text-align:center;
    }
    .backGround{
        margin: 0;
        padding: 0;
        left: 0;
        position: absolute;
        height: 100%;
        width: auto;
        z-index: -1;
    }

    #logo { 
        z-index: 0;
        width: 150%;
        height: auto;   
        position: relative;
        margin-left: -22.5%;
    }

    #nameDate{
        padding-left: 1%;
        width: 75%;
        height: auto;
    }

    #lineupLogo {
        position: relative;
        width: 50%; 
        height: auto;
        margin-left: 25%;  
        margin-right: 25%;  
    }


    .wholePageContent{
        float: left;
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;
        text-align:left;
    }

    #heenEnWeerTekst{
        font-size: medium;
    }

    #festivalTerreinTekst{
        font-size: medium;
    }

    #EHBOTekst{
        font-size: medium;
    }

    #lockersTekst{    
        font-size: medium;
    }

    .contactForm{
        display: none;
    }

    .contactHeader{
        display: none;
    }


#stratenPlanHeader{
    color: #FFFFFF;
    text-align: left;
}

}


@media screen and (max-width: 1200px) {


    .backGround{
        margin: 0;
        padding: 0;
        left: 0;
        position: absolute;
        height: 100%;
        width: auto;
        z-index: -1;
    }

}